html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{
    text-decoration: none;
}
.header1-icon{
	padding-right:3px;
}

.clear-both{
    clear:both;
}
/*DEFAULT PROPERTIES END*/

/************SECTION 2 HEADER 2* START*************/
.nav-link{
	color:#ffffff;
}
.header-1{
	padding: 20px 0 5px 0;
	background-color:#2a363f;
}

.header-2{
    background-color: #ffffff;
}
.offer-item1 a{
	color:555e65;
}
.color{
	
	padding-right:8px;
	color:white;
}
.header-2-navbar{
    padding-left: 103px;
}
.top-menu2{
	color:white;
	font-family: 'Roboto', sans-serif;
    float:right;
	padding-top: 31px;
	
}
.login-button{
	position:relative;
	top:-10px;
}
.top-menu{
   font-family: 'Roboto', sans-serif;
   float:right;
   font-size:14px;
   padding-top: 52px;
   padding-bottom: 50px;
   color:#2a363f;
   letter-spacing: 1px;
}
.top-menu2 ul li{
    color:#333333;
}
.top-menu2 ul li a{
    text-decoration: none;
    color:#333333;
}
.top-menu2 ul li a:hover{
    color:#86c724;
}
.logo{
    padding:33px 0 34px 0;
    width:100%;
}
/************SECTION 2 HEADER 2* end*************/
/************SECTION 3 HOSTING 2* START*************/

.hosting{
    padding:20px 0 131px 0;
    background-color: #f3f1f2;
}
.hosting p{
    color:#2a363f;
}
.hosting-right p{
	font-size:70px;
	color:999999;
	padding-top: 288px;
}
.hosting-passage-one{
    font-size:24px;
    padding-bottom: 23px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	padding:166px 0 0 0;
}
.hosting-passage-two{
    font-size: 53px;
    padding-bottom: 38px;
	font-family: 'Roboto', sans-serif;
	font-weight:900;
}
.hosting-passage-three{
    font-size:18px;
    padding-bottom: 50px;
    line-height:30px;
    font-family: 'Roboto', sans-serif;
}
.hosting-button{
    color:#ffffff;
    background-color: #2a363f! important;
}
/************SECTION 3 hosting 2* end*************/
/************SECTION 4 search* start*************/
.search{
    padding:61px 0 0 0;
    background-color: #2a363f;
    color:white;
}
.search-label{
	text-align: right;
    float:left;
    padding-top: 8px;
	padding-right: 5px!important;
}
.search-input{
    float:left;
    padding-right: 20px;
	padding-left: 5px!important;
}
.search-button{
    padding-left: 54px;
    background-color: #86c724!important;
    float:right;
    color:#ffffff;
    font-family: 'Roboto',sans-serif;
}
.sign-up{
	padding-left: 54px;
    background-color: #7f868c!important;
    float:right;
    color:#ffffff;
    font-family: 'Roboto',sans-serif;
}
.search-navbar{
    padding-left: 80px;
    padding: 45px 0 38px 120px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
	

}
.search-design{
	border: 2px solid black;
}
.search-navbar ul li {
    padding:32px 16px 35px 25px;
}
.search-design li{
	border-right:1px solid black;
}
.server-style{
    font-size:25px;
    font-weight:600;
    font-family: 'Roboto', sans-serif;
}
.search-nav-item{
	border-top:1px solid black;
	margin-top:46px;
	
}
.search-nav-item ul li {
	display: inline-block;
    
    margin-left: 23px;
    padding: 10px 10px 0px 10px;
    border-left: 1px solid black;
    margin-left: 50px;
}
/*section 5 strat package*/
.package{
    padding:100px 0 100px 0;
    background-color:#ffffff;
    
}
.package-rate-sub {
	font-size: 10px;
}
.package-header{
    text-align: center;
    font-size: 26px;
    color:#2a363f;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;

}
.package-passage{
    text-align: center;
    font-size: 16px;
    color:#999999;
    line-height: 30px;
    padding-bottom: 50px;
}
.middle{
    
    background-color:#5f686f; 
}
.middle:hover{
    background-color:#86c724;
}
.text{
    text-decoration: line-through;
}
.package-button{
    color:#5f686f!important;
    margin: 24px 0px 21px 0;
	background-color:#ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight:900!important;
	font-size:12px;
	
}
.package-button:hover{
    color:#86c724;
}
.top{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight:600;
    font-size:23px;
    padding:28px 0 28px 0;
    border: 1px solid gray;
    color:#2a363f;
}
.middle{
    text-align:center;
}
.value-one{
   font-size:41px;
   padding-top: 26px;
   color:#ffffff;
 }
.value-two{
    line-height:27px;
    color:#ffffff;
}
.bottom-item{
    font-size:15px;
    text-align:center;
}
.bold-word{
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-size:18px;
	color:#2a363f;
}
.list-group bottom dl dt{
	font-family: 'Roboto', sans-serif;
}
/*end*/ 
/*service start*/
.services{
    background-color: #f3f3f3;
    padding:100px 0 100px 0;
}
.service-items{
    text-align: left;
}
.circle{
	width:60px;
	height:60px;
	border-radius: 50%;
	background-color:white;
}
.services img{
	padding-top: 18px;
    padding-left: 17px;
}
.service-passage-one{
    font-size:20px;
    line-height: 40px;
    color:#2a363f;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	
    
}
.service-passage-two{
    font-size: 14px;
    line-height: 30px;
    color:#949494;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}
.service-header{
   font-family: 'Roboto', sans-serif;  
   font-weight:900;
   text-align: center;
   color:#2a363f;
   letter-spacing: 1px;
   padding-bottom: 61px;
   font-size:25px;
}
.online{
    padding:102px 0 73px 0;
    background-color: #ffffff;
    color:white;
    overflow:hidden;
   
}
.online1{
	padding:96px 0 33px 0;
	text-align:center;
}
.online1 p{
	font-size:26px;
    color:#86c724;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    letter-spacing: 1px;  
	
	font-weight:900;
}
.online-passage{
	
}

.online2{
	background: linear-gradient(to right, #2a363f 0%, #2a363f 50%, #3f4a52 50%, #3f4a52 100%);
	padding:94px 0 90px 0;
}
.online2 img{
	float:left;
	right:clear;
	padding-right: 30px;
	padding-top: 10px;
}
.online2 p{
	margin-bottom: 0px;
	color: white;
	line-height:25px;
	
}
.pass{
	padding-top:30px;
}
.pass a{
	color:#2a363f;
}
.online2-header{
	font-size:37px;
	font-weight:600;
}
.online2-button{
	background-color:white;
	color:#2a363d;
}
.online-left{
    background-color: #2a363f;
    float:left;
    color:white;
    line-height: 26px;
	font-size:15px;
}
.online-right{
    background-color: #3f4a52;
	float:right;
    line-height: 26px;
	font-size:15px;
	padding-left:90px;
}

.online-button{
    
}
.vedio{
	background-color:#f3f3f3;
	padding:120px 0 103px 0;
}
.vedio img{
	position:relative;
	left: -422px;
}

/*offer section*/
.offer{
    padding:98px 0 50px 0;
    background-color:#f3f3f3;
}
.offer-header{
   font-size:28px;
   color:#2a363f;
   padding-bottom: 55px;
   text-align: center;
   font-weight: 600;
}
.offer-button{
  color:#ffffff; 
  text-align: center;
}
.offer3rd_button{
	background-color:#2a363f!important;
	text-align: center;
	color: #ffffff!important;
}
.offer-item1 a{
	background-color:#ffffff;
	color:#2a363f;
}
.offer-button button{
    color:#2a363f;
    width:144px;
    font-size:15px;
    background-color:#ffffff;
    border:#ffffff;
}
.offer-button ul li{
    display: inline-block;
    padding:20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.offer-button button:hover{
    background-color: #91e216;
    color:#ffffff;
}
.resources{
    padding:47px 97px 40px 46px;
    background-color: #ffffff;
}
.resources-left{
   text-align:center;
   text-align:center;
    background-color: #999999;
}
.resources-left p{
    text-align: center;
    padding-top: 132px;
    font-size: 36px! important;
    font-weight: 600;
    color: white;
    background-color: #999999;
}
.resources-right{
	background-color:#fefefe;
	padding-left:50px;
   
}
.resources-right h2{
    line-height: 38px;
    font-size:21px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding-bottom:31px;
	color:#2a363f;
	padding-left:50px;
}
.resources-right p{
    font-size:14px;
    line-height:30px;
	color:#2a363f;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	padding-left:50px;
   
}
.resources-right a{
	margin-left:50px;
   
}
.resources-button {
     background-color: #ffffff !important;
     border-color:black!important;
}
.offer p{
    font-size: 18px;
    line-height: 26px;
	color:#2a363f;
    
}
.offer h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size:24px;
	color:#2a363f;
    
}

.soffer-item1{
    background-color:#2a363f;
    padding: 30px;
    text-align: center;
	color: white;
    
}
.soffer-item2{
   background-color:#86c724;
   padding: 30px;
   text-align: center;
   color:#ffffff;
}
.soffer-item3{
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
	color:2a363f!important;
}
.soffer-item3 p h2{
	color:#2a363f;
}
.soffer img{
    padding:30px 0 25px 0;
	height: 182px;

}
.soffer-button{
    margin:30px 0 50px 0;
    font-size:14px;
}
/*today start*/
.today{
    padding:98px 0 30px 0;
    background-color: #f1f1f1;
}
.today header{
    
    background-color: #f1f1f1;
    text-align:center;
}
.today-header p{
    font-size:17px;
    line-height: 30px;
    text-align:center;
    color: #9c9c9c;
	
}
.today-header h2{
    font-size:28px;
    text-align:center;
    padding-bottom: 30px;
    font-weight: 600;
}
.today-items{
    text-align: center;
    padding: 40px;
    background-color: white;
    margin: 18px;
}
.today-items p{
    font-size:15px;
    padding-bottom:12px;
    font-family: 'Roboto', sans-serif;
}
.today-items h2{
    font-size:30px;
    font-weight:600;
    padding-bottom: 11px;
}
.value h2{
    font-size:30px;
    color:#999999;
    text-align: center;
    font-weight: 600;
}
.check-out{
    padding:114px 0 83px 0;
    background-color: #ffffff;
}
.check-out-image{
    float:left;
	
}
.check-out-button1 ul li{
	border-width:1.60px;
	border-color: gray;
    border-style:dashed;
	padding-top:2px;
	padding-right:6px;
	padding-bottom:2px;
	padding-left:6px;
	margin-right:6px;
}

.check-out-button2 ul li{
	border-width:1.60px;
	border-color: gray;
    border-style:dashed;
	padding-top:2px;
	padding-right:6px;
	padding-bottom:2px;
	padding-left:6px;
	margin-right:6px;
}

.check-out-pcicon{
	padding-left: 149px;
}
.check-out-image img{
    width:30%;
}
.check-out-header{
    font-size:28px;
    text-align:center;
    padding-bottom: 30px;
    font-weight: 600;
}
.check-out-header p{
    font-size:14px;
    text-align:center;
    
}
.check-out-button h3{
    padding-top: 114px;
    font-weight: 600;
	padding-left: 49px;
}

.check-out ul li{
    display:inline-block;
}
.check-out-button1{
  padding-top:31px;
  padding-bottom: 16px;
  padding-left: 50px;
 }
 .check-out-button1 button{
    border:1px dotted black;
    background-color: gray;
    padding: 15px 25px;
    border-color: gray;
	
     
 }
.check-out-button2{
    font-size:14px;
	padding-left: 50px;
    
}
.check-out-button2 button {
    background-color: gray;
    padding: 15px 25px;
    border-color: gray;
	
}
.button-color{
    background-color: #999999;
}
.customer{
	text-align:center;
	padding:95px 0 80px 0;
	background-color:#f3f3f3;
}
.customer h1{
	font-family: 'Roboto', sans-serif;
	padding-bottom:48px;
	font-size:31px;
	font-weight:900;
}
.customer p .customer-icon{
	
	padding-bottom:43px;
	background-color:#999999;
	height:50px;
	width:50px;
	border-radius:50%;
}
.customer p{
	line-height:32px;
	font-size:17px;
	padding:0 50px 0 50px;
}
.footer{
	background-color:#1c2329;
	color:#ffffff;
	padding:40px 0 28px 0;
	font-size:12px;
}
.seen{
	padding:69px 0 59px 0;
}
.seen ul{
	text-align:center;
}
.seen ul li{
	display:inline-block;
	padding-right:20px;
}
.seen-image{
    opacity:0.5;
	
}
.footer1-number{
	font-size:42px;
	color:#72be00!important;
	
}
.footer1-text{
	background-color:#ffffff;
}
.footer-right{
	padding-left:300px;
	
}
.blog{
	padding:98px 0 70px 0;
	background-color:#c1cbcd;
}
.blog-value{
	background-color:gray;
	color:white;
	font-size:38px;
	text-align:center;
	padding:108px 0 117px 0;
}
.blog-passage-left{
	float:left;
	right:clear;
}
.blog-passage-left{
	font-size:13px;
	background-color:#2a363f;
	color:white;
}
.footer1 .form-control{
	position: relative;
    right: -90px;
}
.news{
	
}
.news-left{
}
.news-right{
}
.footer1{
	background-color:#2b343c;
	padding:38px 0 83px 0;
}
.footer1 img{
	padding-top:40px;
}
.footer1 address{
	color:white;
	padding-top: 10px;
}
.footer1-text{
	font-size:37px!important;
	color:#72be00;
}
.footer1 h3{
	color:#ffffff;
	font-size:18px;
	padding:47px 0 23px 0;
}
.footer1 p{
	font-size:12px;
	color:#888b8d;
	line-height:16px;
	
}
.follow-us{
}
.follow-us img{
	padding-right: 9px;
	margin-top:-33px;
}
.follow-us ul li{
	display:inline-block;
}
